@import './menu_panel.css';

:root {
    --mask-color: 'transparent';
}

body {
    margin: 0;

}

.screen-div {
    height: 100vh;
    background: url(https://tse1-mm.cn.bing.net/th/id/R-C.a5d527e5eb3d4d06ae29235c4e77f676?rik=LxDkQLpVHnM9aA&riu=http%3a%2f%2fimg.keaitupian.cn%2fuploads%2fupimg%2f1595383636893118.jpg&ehk=1wTqMDHWrNUoCavsCXZTJmGpRaOge2cHddsZkbZeMc8%3d&risl=&pid=ImgRaw&r=0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.grant-text {
    margin: auto;
    /* line-height: 80vh; */
    padding-top: 35vh;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}


.theme-icon {
    height: 40px;
    width: 40px;
    background-image: url(../img/svg/night.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 3%;
    right: 3%;
    transition: all 0.1s;
}


.mask {
    background-color: var(--mask-color);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
}

.is-br {
    display: none;
    height: 0px;
}

.beian{
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    color: black;
    text-decoration: none;
}