// color variable
$dd-orange: #cc5803;
$d-orange: #e2711D;
$orange: #FF9F1D;
$l-orange: #FFb627;
$ll-orange: #FFc971;
$shadow-gray:#dee2e6;
$blue:#1b86ff;
$gray: #b0b0b0;
$lgray:#F7F7F7;
$black: #000;
$red:#f84c40;
$white:#fff;

//font size
$font-size-xs:12px;
$font-size-sm:14px;
$font-size-md:16px;
$font-size-lg:18px;
$font-size-blg:20px;

